ngb-tooltip-window {
  pointer-events: none;
  position: absolute;
}

ngb-tooltip-window .tooltip-inner {
  pointer-events: none;
}

ngb-tooltip-window.show .tooltip-inner {
  pointer-events: auto;
}

ngb-tooltip-window.bs-tooltip-top,
ngb-tooltip-window.bs-tooltip-bottom {
  padding-left: 0;
  padding-right: 0;
}

ngb-tooltip-window.bs-tooltip-start,
ngb-tooltip-window.bs-tooltip-end {
  padding-top: 0;
  padding-bottom: 0;
}
