<ng-template ng-ref="defaultStar" let-fill="fill">{{ fill === 100 ? '&#9733;' : '&#9734;' }}</ng-template>

<span ng-repeat="star in $.contexts track by $index">
    <span class="visually-hidden">({{ $index < $.nextRate ? '*' : ' ' }})</span>
    <span
        ng-mouseenter="$.enter($index + 1)"
        ng-click="$.handleClick($index + 1)"
        ng-style="{ cursor: $.isInteractive() ? 'pointer' : 'default' }">
        <ng-container
            ng-template-outlet="$.starTemplate || $.starTemplateFromContent || $.defaultStarTemplate"
            ng-template-outlet-context="star">
        </ng-container>
    </span>
</span>

<ng-content></ng-content>
